@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

/* Prismjs */
html, body, div, span,  object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;        
    line-height: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    min-width: 0; 
}

/* Respect height 100% on vue container */
html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

.max-w-screen-xs {
  max-width: 320px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-overflow-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-overflow-bar {
  -ms-overflow-style: none;
}

@tailwind components;

@tailwind utilities;
